.sing-in {
  width: 440px;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 20px;
  margin: 10px 0px;
}
.Button {
  display: flex;
  justify-content: space-between;
}
.errralert {
  background: rgb(189, 36, 36);
  color: white;
  display: inline;
}
